[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
aiogram = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
aiosqlite = "*"
gspread-asyncio = "*"
google-auth = "*"
python-dotenv = "*"
opencv-python = "*"
qreader = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"

[pipenv]
allow_prereleases = true
