[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
aiogram = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
aiosqlite = "*"
gspread-asyncio = "*"
google-auth = "*"
python-dotenv = "*"
opencv-python = "*"
qreader = "*"
numpy = "*"
camelot-py = {version = "*", extras = ["cv"]}
pypdf2 = "<3.0"
dateparser = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
